<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Starter Template</title>
</head>

<body>

  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-4 menu">
        <ul class="list-group">
          <li style='margin-bottom: 2em'><a href="{{ url_for('index') }}">Distant Reader home</a></li>
          <li class="list-group-item list-group-item-action"><a href="{{ url_for('file2carrel') }}">File to study carrel</a></li>
          <li class="list-group-item list-group-item-action"><a href="{{ url_for('zip2carrel') }}">Zip to study carrel</a></li>
          <li class="list-group-item list-group-item-action"><a href="{{ url_for('url2carrel') }}">URL to study carrel</a></li>
          <li class="list-group-item list-group-item-action"><a href="{{ url_for('urls2carrel') }}">URLs to study carrel</a></li>
          <li class="list-group-item list-group-item-action"><a href="{{ url_for('trust2carrel') }}">HathiTrust to study carrel</a></li>
        </ul>
        <ul class="list-group">
          <li style='margin-bottom: 2em'><a href="{{ url_for('biorxiv2carrel') }}">Biorxiv to study carrel</a></li>
          <li class="list-group-item list-group-item-action"><a href="{{ url_for('gutenberg') }}">Gutenberg to study carrel</a></li>
          <li class="list-group-item list-group-item-action"><a href="{{ url_for('cord_search') }}">COVID-19 to study carrel</a></li>
        </ul>

      </div>

      <div class="col-12 col-sm-8">
        {% block searchbody %}
        {% endblock %}
      </div>

    </div>
    <!-- row -->
  </div>
  <!-- container -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
