{% extends "base.html" %}

{% block title %}
Acknowledgments
{% endblock %}

{% block body %}

  <nav aria-label="breadcrumb" id="breadcrumb">
    <ol class="breadcrumb px-5 py-4">
      <li class="breadcrumb-item pl-3">
        <a href="{{ url_for("index") }}"><i class="fad fa-home fa-fw mr-2"></i>Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Acknowledgments</li>
    </ol>
  </nav>

  <!-- main wrapper div -->
  <div class="container pb-5" id="wrapper">

    <div class="row">

      <div class="col-sm-12">

        <!-- Page header -->
        <h1 id="page-header">Acknowledgments</h1>

      </div>
      <!-- .col-sm-12 -->
    </div>
    <!-- .row -->

  </div>
  <!-- .container -->

{% endblock %}
