{% extends "base.html" %}

{% block title %}
Acknowledgments
{% endblock %}

{% block body %}


<!-- main wrapper div -->
<div class="container pb-5" id="wrapper">

  {{ breadcrumb("Acknowledgments") }}

  <div class="row">

    <div class="col-sm-12">

      <!-- Page header -->
      <h1 id="page-header">Acknowledgments</h1>

      <p class="mt-2 mb-5">As they say, "It takes a village." And the Distant Reader is really the combined effort of quite a number of people. For example, the people who created accounts as far back as a few years ago have provided real-word use cases for
        <strong>the Distant Reader.</strong> They include:
      </p>


      <div class="row">

        <div class="col-md-3">
          <div class="table-responsive">
            <table class="table table-sm table-striped">
              <tbody>
                <tr><td class="text-center">Aaron Marquette</td></tr>
                <tr><td class="text-center">Aarushi Bisht</td></tr>
                <tr><td class="text-center">Adam Anderson</td></tr>
                <tr><td class="text-center">Adam Heet</td></tr>
                <tr><td class="text-center">Adam Porter</td></tr>
                <tr><td class="text-center">Addison Eldin</td></tr>
                <tr><td class="text-center">Alex Humphreys</td></tr>
                <tr><td class="text-center">Alex Vyushkov</td></tr>
                <tr><td class="text-center">Alexander Velikanov</td></tr>
                <tr><td class="text-center">Alisak Sanavongsay</td></tr>
                <tr><td class="text-center">Allan Cho</td></tr>
                <tr><td class="text-center">Andrew McSorley</td></tr>
                <tr><td class="text-center">Andrew Wendelborn</td></tr>
                <tr><td class="text-center">Angel S. Fernandez-Bou</td></tr>
                <tr><td class="text-center">Anna Oates</td></tr>
                <tr><td class="text-center">Anton Povzner</td></tr>
                <tr><td class="text-center">Ashley Evans Bandy</td></tr>
                <tr><td class="text-center">Asya Shklyar</td></tr>
                <tr><td class="text-center">Athina Livanos-Propst</td></tr>
                <tr><td class="text-center">Bee Bornheimer</td></tr>
                <tr><td class="text-center">Bhavin Tailor</td></tr>
                <tr><td class="text-center">Bianca Peterson</td></tr>
                <tr><td class="text-center">Brett Williams</td></tr>
                <tr><td class="text-center">Brian Burchett</td></tr>
                <tr><td class="text-center">Brian Foo</td></tr>
                <tr><td class="text-center">Cal Murgu</td></tr>
                <tr><td class="text-center">Camika Rojas</td></tr>
                <tr><td class="text-center">Carol Leibiger</td></tr>
                <tr><td class="text-center">Carol Wittig</td></tr>
                <tr><td class="text-center">Caroline Clavell</td></tr>
                <tr><td class="text-center">Chris Young</td></tr>
                <tr><td class="text-center">Christine Cogar</td></tr>
                <tr><td class="text-center">Claire Payne</td></tr>
                <tr><td class="text-center">Claire Ptaschinski</td></tr>
                <tr><td class="text-center">Claudia Engel</td></tr>
                <tr><td class="text-center">Dana Knott</td></tr>
                <tr><td class="text-center">Daniel Hocutt</td></tr>
                <tr><td class="text-center">Danjing Rong</td></tr>
                <tr><td class="text-center">Darren Hall</td></tr>
                <tr><td class="text-center">Darrow Cole</td></tr>
                <tr><td class="text-center">David Bliss</td></tr>
                <tr><td class="text-center">David Bucknum</td></tr>
                <tr><td class="text-center">David Erlandson</td></tr>
                <tr><td class="text-center">David Harvey</td></tr>
                <tr><td class="text-center">David Kloster</td></tr>
                <tr><td class="text-center">David Molik</td></tr>
                <tr><td class="text-center">Dayonni Phillips</td></tr>
                <tr><td class="text-center">Demetrio Yocum</td></tr>
                <tr><td class="text-center">Derek Merleaux</td></tr>
                <tr><td class="text-center">Derek Zoladz</td></tr>
                <tr><td class="text-center">Devon Pham</td></tr>
                <tr><td class="text-center">Diego Ferreyra</td></tr>
                <tr><td class="text-center">Dimuthu Wannipurage</td></tr>
                <tr><td class="text-center">Dixie Ashton</td></tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-md-3">
          <div class="table-responsive">
            <table class="table table-sm table-striped">
              <tbody>
                <tr><td class="text-center">Donald Brower</td></tr>
                <tr><td class="text-center">Donald McMullen</td></tr>
                <tr><td class="text-center">Douglas Duhaime</td></tr>
                <tr><td class="text-center">Elizabeth Bonds</td></tr>
                <tr><td class="text-center">Elizabeth Forton</td></tr>
                <tr><td class="text-center">Elizabeth German</td></tr>
                <tr><td class="text-center">Emily Lin</td></tr>
                <tr><td class="text-center">Emily Merola</td></tr>
                <tr><td class="text-center">Emily Wahl</td></tr>
                <tr><td class="text-center">Eric Bivona</td></tr>
                <tr><td class="text-center">Eric Bradley</td></tr>
                <tr><td class="text-center">Eric Morgan</td></tr>
                <tr><td class="text-center">Erin Wolfe</td></tr>
                <tr><td class="text-center">Eroma Abeysinghe</td></tr>
                <tr><td class="text-center">Franco Pestilli</td></tr>
                <tr><td class="text-center">Fred Rascoe</td></tr>
                <tr><td class="text-center">Gerrit Schneemelcher</td></tr>
                <tr><td class="text-center">Grace Jeon</td></tr>
                <tr><td class="text-center">Gulzeyin Khalibaeva</td></tr>
                <tr><td class="text-center">Helene Gold</td></tr>
                <tr><td class="text-center">Huma Zafar</td></tr>
                <tr><td class="text-center">Ian Pollock</td></tr>
                <tr><td class="text-center">Ilaria Giglioli</td></tr>
                <tr><td class="text-center">Ivar Luiten</td></tr>
                <tr><td class="text-center">J. Tirrell</td></tr>
                <tr><td class="text-center">Jacek Tlaga</td></tr>
                <tr><td class="text-center">Jacob Sargent</td></tr>
                <tr><td class="text-center">Jacqueline Whyte Appleby</td></tr>
                <tr><td class="text-center">Jamie Hobbs</td></tr>
                <tr><td class="text-center">Jane Thaler</td></tr>
                <tr><td class="text-center">Janna Avon</td></tr>
                <tr><td class="text-center">Jason Mitchell</td></tr>
                <tr><td class="text-center">Jason Simms</td></tr>
                <tr><td class="text-center">Jeanine Finn</td></tr>
                <tr><td class="text-center">Jeffrey Butler</td></tr>
                <tr><td class="text-center">Jennifer Dudley</td></tr>
                <tr><td class="text-center">Jennifer Hayward</td></tr>
                <tr><td class="text-center">Jennifer Hootman</td></tr>
                <tr><td class="text-center">Jennifer Lozano</td></tr>
                <tr><td class="text-center">Jesse Lambertson</td></tr>
                <tr><td class="text-center">Joan Levin</td></tr>
                <tr><td class="text-center">Johannes Ledolter</td></tr>
                <tr><td class="text-center">John Knox</td></tr>
                <tr><td class="text-center">Johnathan Rush</td></tr>
                <tr><td class="text-center">Jonathan Kiritharan</td></tr>
                <tr><td class="text-center">Joseph Caudle</td></tr>
                <tr><td class="text-center">Joseph Jegier</td></tr>
                <tr><td class="text-center">Joseph Oswald</td></tr>
                <tr><td class="text-center">Joseph Zucca</td></tr>
                <tr><td class="text-center">Josh Honn</td></tr>
                <tr><td class="text-center">Joshua Tonkel</td></tr>
                <tr><td class="text-center">Jp Avila</td></tr>
                <tr><td class="text-center">Julia Flanders</td></tr>
                <tr><td class="text-center">Juliana Nykolaiszyn</td></tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-md-3">
          <div class="table-responsive">
            <table class="table table-sm table-striped">
              <tbody>
                <tr><td class="text-center">Justin White</td></tr>
                <tr><td class="text-center">Kaitlin Groothuis</td></tr>
                <tr><td class="text-center">Kate Topham</td></tr>
                <tr><td class="text-center">Katherine O'reilly</td></tr>
                <tr><td class="text-center">Kathleen Haley</td></tr>
                <tr><td class="text-center">Kelly Brown</td></tr>
                <tr><td class="text-center">Kelly Ng</td></tr>
                <tr><td class="text-center">Kevin Comerford</td></tr>
                <tr><td class="text-center">Kirsten Anderson</td></tr>
                <tr><td class="text-center">Kris Joseph</td></tr>
                <tr><td class="text-center">Kristin Haas</td></tr>
                <tr><td class="text-center">Kristina Wahagheghe</td></tr>
                <tr><td class="text-center">Laura Morreale</td></tr>
                <tr><td class="text-center">Leticia Classen-Rodriguez</td></tr>
                <tr><td class="text-center">Lilly Linden</td></tr>
                <tr><td class="text-center">Lindsey C</td></tr>
                <tr><td class="text-center">Lingde Kong</td></tr>
                <tr><td class="text-center">Liz Angeli</td></tr>
                <tr><td class="text-center">Loan Bui</td></tr>
                <tr><td class="text-center">Lyla Washaha</td></tr>
                <tr><td class="text-center">M. Sten Delos</td></tr>
                <tr><td class="text-center">Macy Lites</td></tr>
                <tr><td class="text-center">Manuel Lopez</td></tr>
                <tr><td class="text-center">Mara Cota</td></tr>
                <tr><td class="text-center">Marcus Christie</td></tr>
                <tr><td class="text-center">Maria Carroll</td></tr>
                <tr><td class="text-center">Marijana Glavica</td></tr>
                <tr><td class="text-center">Marisol Espino</td></tr>
                <tr><td class="text-center">Mark Phillips</td></tr>
                <tr><td class="text-center">Mark Reed</td></tr>
                <tr><td class="text-center">Mark Robison</td></tr>
                <tr><td class="text-center">Mark Watkins</td></tr>
                <tr><td class="text-center">Matt Krc</td></tr>
                <tr><td class="text-center">Max Sullivan</td></tr>
                <tr><td class="text-center">Melchizedek Mashiku</td></tr>
                <tr><td class="text-center">Michael Carlozzi</td></tr>
                <tr><td class="text-center">Michael Espero</td></tr>
                <tr><td class="text-center">Michael Kicey</td></tr>
                <tr><td class="text-center">Michael Ravenel-Baker</td></tr>
                <tr><td class="text-center">Michelle Janowiecki</td></tr>
                <tr><td class="text-center">Michelle Pearse</td></tr>
                <tr><td class="text-center">Nat Gustafson-Sundell</td></tr>
                <tr><td class="text-center">Natalie Levesque</td></tr>
                <tr><td class="text-center">Natalie Meyers</td></tr>
                <tr><td class="text-center">Nick Ucla</td></tr>
                <tr><td class="text-center">Nicolas Delon</td></tr>
                <tr><td class="text-center">Nikola Tosic</td></tr>
                <tr><td class="text-center">Noe Pliego Campos</td></tr>
                <tr><td class="text-center">Nora Westphal</td></tr>
                <tr><td class="text-center">Paige Edwards</td></tr>
                <tr><td class="text-center">Parthasarathi Mukhopadhyay</td></tr>
                <tr><td class="text-center">Prakruti Maniar</td></tr>
                <tr><td class="text-center">Praveen Vaidya</td></tr>
                <tr><td class="text-center">Ralph LeVan</td></tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-md-3">
          <div class="table-responsive">
            <table class="table table-sm table-striped">
              <tbody>
                <tr><td class="text-center">Ranti Junus</td></tr>
                <tr><td class="text-center">Rebecca Ward</td></tr>
                <tr><td class="text-center">Ricardo Gonzalez</td></tr>
                <tr><td class="text-center">Robert Smith</td></tr>
                <tr><td class="text-center">Rohit Dhariwal</td></tr>
                <tr><td class="text-center">Ron Daniel</td></tr>
                <tr><td class="text-center">Rose Mary Xavier</td></tr>
                <tr><td class="text-center">S. Shaw</td></tr>
                <tr><td class="text-center">Sandeep Satheesan</td></tr>
                <tr><td class="text-center">Sandra Gesing</td></tr>
                <tr><td class="text-center">Sarah Bonfim Matos Nunes</td></tr>
                <tr><td class="text-center">Sarah Connell</td></tr>
                <tr><td class="text-center">Sarah Kinne</td></tr>
                <tr><td class="text-center">Sarah Moazeni</td></tr>
                <tr><td class="text-center">Sarah Payne</td></tr>
                <tr><td class="text-center">Scott Peterson</td></tr>
                <tr><td class="text-center">Sean Andersen</td></tr>
                <tr><td class="text-center">Sean Chen</td></tr>
                <tr><td class="text-center">Sean Walton</td></tr>
                <tr><td class="text-center">Shadwa Ibrahim</td></tr>
                <tr><td class="text-center">Sharon Tettegah</td></tr>
                <tr><td class="text-center">Shelbi Ferguson</td></tr>
                <tr><td class="text-center">Shivam Rastogi</td></tr>
                <tr><td class="text-center">Shmuel Clark</td></tr>
                <tr><td class="text-center">Skatje Myers</td></tr>
                <tr><td class="text-center">Soichi Hayashi</td></tr>
                <tr><td class="text-center">Sophia Henn</td></tr>
                <tr><td class="text-center">Stephen Bird</td></tr>
                <tr><td class="text-center">Stephen Davis</td></tr>
                <tr><td class="text-center">Stephen Gourlay</td></tr>
                <tr><td class="text-center">Stephen Klein</td></tr>
                <tr><td class="text-center">Steven Majewski</td></tr>
                <tr><td class="text-center">Stuart Patterson</td></tr>
                <tr><td class="text-center">Sudhakar Pamidighantam</td></tr>
                <tr><td class="text-center">Susana Guerrero</td></tr>
                <tr><td class="text-center">Svetlana Tcareva</td></tr>
                <tr><td class="text-center">Tabea Cornel</td></tr>
                <tr><td class="text-center">Tammy Clemons</td></tr>
                <tr><td class="text-center">Thomas Bachrach</td></tr>
                <tr><td class="text-center">Thomas San Filippo</td></tr>
                <tr><td class="text-center">Tim Thompson</td></tr>
                <tr><td class="text-center">Tommy Jegier</td></tr>
                <tr><td class="text-center">Venice Bayrd</td></tr>
                <tr><td class="text-center">Veronica Lee</td></tr>
                <tr><td class="text-center">Vincent Perez</td></tr>
                <tr><td class="text-center">Vincent Tompkins</td></tr>
                <tr><td class="text-center">Vinit Kumar</td></tr>
                <tr><td class="text-center">William Judge</td></tr>
                <tr><td class="text-center">Yecheng Cao</td></tr>
                <tr><td class="text-center">Yu Zhang</td></tr>
                <tr><td class="text-center">Yu-Chuan Chen</td></tr>
                <tr><td class="text-center">Zachary Kowaleski</td></tr>
                <tr><td class="text-center">Zijiao Yang</td></tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <!-- row -->

    </div>
    <!-- .row -->

  </div>
  <!-- .container -->

</div>
<!-- wrapper -->

{% include "sponsors.html" %}

{% endblock %}
