{% extends "base.html" %}

{% block title %}
Acknowledgments
{% endblock %}

{% block body %}


<!-- main wrapper div -->
<div class="container pb-5" id="wrapper">

  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb" id="breadcrumb">
        <ol class="breadcrumb py-4">
          <li class="breadcrumb-item pl-3">
            <a href="{{ url_for("index") }}"><i class="fad fa-home fa-fw mr-2"></i>Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Acknowledgments</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-12">

      <!-- Page header -->
      <h1 id="page-header">Acknowledgments</h1>
      <p>We wish to thank the following individuals for their assistance with the Distant Reader project.</p>

      <h3 class="maroon mt-5 mb-3">Type of Contribution</h3>

      <div class="row">
        <div class="col-md-4">
          <div class="table-responsive">
	<table class="table table-sm table-striped">
		<tbody>
			<tr>
				<td style="width: %">Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
		</tbody>
	</table>
</div>
        </div>
        <div class="col-md-4">
          <div class="table-responsive">
	<table class="table table-sm table-striped">
		<tbody>
			<tr>
				<td style="width: %">Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
		</tbody>
	</table>
</div>
        </div>
        <div class="col-md-4">
          <div class="table-responsive">
	<table class="table table-sm table-striped">
		<tbody>
			<tr>
				<td style="width: %">Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
		</tbody>
	</table>
</div>
        </div>
      </div>


      <h3 class="maroon mt-5 mb-3">Type of Contribution</h3>

      <div class="row">
        <div class="col-md-4">
          <div class="table-responsive">
	<table class="table table-sm table-striped">
		<tbody>
			<tr>
				<td style="width: %">Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
		</tbody>
	</table>
</div>

        </div>
        <div class="col-md-4">
          <div class="table-responsive">
	<table class="table table-sm table-striped">
		<tbody>
			<tr>
				<td style="width: %">Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
		</tbody>
	</table>
</div>

        </div>
        <div class="col-md-4">
          <div class="table-responsive">
	<table class="table table-sm table-striped">
		<tbody>
			<tr>
				<td style="width: %">Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
		</tbody>
	</table>
</div>

        </div>
      </div>

      <h3 class="maroon mt-5 mb-3">Type of Contribution</h3>

      <div class="row">
        <div class="col-md-4">
          <div class="table-responsive">
	<table class="table table-sm table-striped">
		<tbody>
			<tr>
				<td style="width: %">Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
		</tbody>
	</table>
</div>

        </div>
        <div class="col-md-4">
          <div class="table-responsive">
	<table class="table table-sm table-striped">
		<tbody>
			<tr>
				<td style="width: %">Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
		</tbody>
	</table>
</div>

        </div>
        <div class="col-md-4">
          <div class="table-responsive">
	<table class="table table-sm table-striped">
		<tbody>
			<tr>
				<td style="width: %">Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
			<tr>
				<td>Jason Bourne</td>
			</tr>
		</tbody>
	</table>
</div>

        </div>
      </div>

    </div>
    <!-- .col-sm-12 -->
  </div>
  <!-- .row -->

</div>
<!-- .container -->

{% include "sponsors.html" %}

{% endblock %}
