<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<style>
		body { font-family: Georgia, serif; }
		h1,h2 {font-family: Verdana, sans-serif}
		.item { margin-bottom: 1em }
	</style>
</head>
<body>
<div class="header">
    <h1>{{ self.title() }}</h1>
</div>

{% block body %}
{% endblock %}

</body>
</html>

