{% extends "create-base.html" %}

{% block title %}
The Distant Reader - Biorxiv citation (XML) file to study carrel
{% endblock %}

{% block body %}
	<p>Use this form to queue a Biorxiv citation (XML) file to be processed by the Distant Reader.</p>
	
	<form action="" method="post" enctype="multipart/form-data">
	<table>
		<tr>
			<td style='text-align:right'>One-word name describing your carrel:</td>
			<td><input type='text'
			           name='shortname'
			           autofocus="autofocus"
			           onkeyup="this.value = this.value.replace( /[^a-z|^A-Z|0-9|_|\-]/, '' )" />
			</td>
		</tr>
		<tr>
			<td style='text-align:right'>Biorxiv XML file:</td>
			<td><input type="file" name="xml" accept=".xml" /></td>
		</tr>
        <tr>
			<td style='text-align:right'>Action</td>
			<td><input type='submit' name='queue' value='Queue the file' /></td>
		</tr>
	</table>
	
	</form>
{% endblock %}
