<html>
<head>
	<title>The Distant Reader - Biorxiv citation (XML) file to study carrel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/etc/style.css">
	<style>
		.item { margin-bottom: 1em }
	</style>
</head>
<body>
<div class="header">
	<h1>The Distant Reader - Biorxiv citation (XML) file to study carrel</h1>
</div>

<div class="col-3 col-m-3 menu">
  <ul>
		<li style='margin-bottom: 2em'><a href="/">Distant Reader home</a></li>
		
		<li ><a href="/file2carrel/">File to study carrel</a></li>
		<li><a href="/zip2carrel/">Zip to study carrel</a></li>
		<li><a href="/url2carrel/">URL to study carrel</a></li>
		<li><a href="/urls2carrel/">URLs to study carrel</a></li>
		<li><a href="/trust2carrel/">HathiTrust to study carrel</a></li>
		<li style='margin-bottom: 2em'>Biorxiv to study carrel</li>
		
		<li><a href="/gutenberg/">Gutenberg to study carrel</a></li>
		<li><a href="/cord/">COVID-19 to study carrel</a></li>
		
 </ul>
</div>

<div class="col-9 col-m-9">

	<p>Use this form to queue a Biorxiv citation (XML) file to be processed by the Distant Reader.</p>
	
	<form action="./" method="post" enctype="multipart/form-data">
	<table>
		<tr>
			<td style='text-align:right'>One-word name describing your carrel:</td>
			<td><input type='text'
			           name='shortname'
			           autofocus="autofocus"
			           onkeyup="this.value = this.value.replace( /[^a-z|^A-Z|0-9|_|\-]/, '' )" />
			</td>
		</tr>
		<tr>
			<td style='text-align:right'>Biorxiv XML file:</td>
			<td><input type="file" name="xml" accept=".xml" /></td>
		</tr>
			<td style='text-align:right'>Action</td>
			<td><input type='submit' name='queue' value='Queue the file' /></td>
		<tr>
	</table>
	
	</form>

	<div class="footer">
		<p style='text-align: right'>
		Eric Lease Morgan<br />
		November 28, 2020
		</p>
	</div>

</div>

</body>
</html>
