{% extends "base.html" %}

{% block title %}
Study Carrel {{ carrel.shortname }}
{% endblock %}

{% block body %}
<h1>Study Carrel {{ current_user.username ~ "/" ~ carrel.shortname ~ "/" ~ directory}}</h1>
{% if carrel.status == "queued" %}
  <p>Thank you for submitting this carrel. It is being processed and will appear here when finished.
  Reload this page to check on the status.</p>
{% endif %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th><img src="{{ url_for('static', filename='icons/blank.gif') }}" alt="[ICO]"></th>
        <th><a href="?C=N;O=D">Name</a></th>
        <th><a href="?C=M;O=A">Last modified</a></th>
        <th><a href="?C=S;O=A">Size</a></th>
        <th><a href="?C=D;O=A">Description</a></th>
      </tr>
    </thead>
    {% if parentdir != '' %}
    <tr>
      <td><a href="{{ url_for('patron_carrel', username=current_user.username, carrel=carrel.shortname, p=darentdir) }}"><img src="{{ url_for('static', filename='icons/back.gif') }}" alt="[PARENTDIR]"></a></td>
      <td><a href="{{ url_for('patron_carrel', username=current_user.username, carrel=carrel.shortname, p=parentdir) }}">Parent Directory</a></td>
      <td>&nbsp;</td>
      <td class="text-right"> - </td>
      <td>&nbsp;</td>
    </tr>
    {% endif %}
    {% for entry in listing %}
    <tr>
      <td><a href="{{ url_for("patron_carrel", username=current_user.username, carrel=carrel.shortname, p=entry.path) }}">
          {% if entry.directory %}
            <!-- <img src="{{ url_for('static', filename='icons/folder.gif') }}" alt="[DIR]"> -->
            <i class="fad fa-fw fa-folder"></i>
          {% else %}
            <!-- <img src="{{ url_for('static', filename='icons/text.gif') }}" alt="[FILE]"> -->
            <i class="fad fa-fw fa-file-alt"></i>
          {% endif %}
        </a></td>
        <td><a href="{{ url_for("patron_carrel", username=current_user.username, carrel=carrel.shortname, p=entry.path) }}">{{ entry.filename }}</a></td>
        <td class="text-right">{{ entry.modified }}</td>
        <td class="text-right">{# directories don't display size info #}
        {% if entry.directory %}-{% else %}{{ entry.size | filesizeformat }}{% endif %}
        </td>
        <td>{{ entry.filename | file_description }}</td>
    </tr>
    {% else %}
    <tr>
      <td>No Files</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
