{% extends "base.html" %}

{#- This template handle both the public carrel list and the private
carrel lists -#}

{% block title %}
{% if is_public %}
  Public Catalog
{% else %}
  Study Carrels for {{ current_user.username }}
{% endif %}
{% endblock %}

{% block head_additional %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
{% endblock %}


{% block body %}
<div class="container">

  {% if is_public %}
    {{ breadcrumb("Catalog") }}
  {% else %}
    {{ breadcrumb("My Carrels") }}
  {% endif %}

    <div class="col-12">

      {% if is_public %}
        <h1 id="page-header">Browse Public Carrels</h1>
      {% else %}
        <h1 id="page-header">Browse My Carrels</h1>
      {% endif %}
      <p>This is a curated collection of study carrels -- a library.</p>
      <p>The purpose of this page is three-fold: 1) to demonstrate the size and scope of content carrels can contain, and 2) to save the time of the student, researcher, or scholar because a carrel of interest may already exist, and 3) to inspire readers who want to create their own carrels.</p>
      <p>As of this writing there are about 2,000 items in the collection. Use the features of this page to filter and sort the carrels by their various characteristics. Use the View, Files, and Download links to access the content of the carrels. Remember, study carrels are stand-alone, structured data sets. This means two things. First, downloaded study carrels have the <em>exact</em> same functionality as these carrels. Second, given the unique, one-word name of any study carrel, it is more than possible to programmatically interact with a carrel whether it be here in the library, on your desktop, or hosted on some other website. But unlike traditional libraries, you do not have to return any times once they have been checked out.</p>

    </div>
    <!-- col-12 -->

    <div class="col-sm-12">

      <div class="table-responsive">
        <table id="directory" class="table table-striped">
          <!-- class="display" removed" -->
          <thead>
            <tr>
              <th class="text-left">Name</th>
              <th class="text-center">Created</th>
              {% if is_public %}
                <th class="text-center">Keywords</th>
              {% endif %}
              <th class="text-center">Items</th>
              <th class="text-center">Words</th>
              <th class="text-center">Readability</th>
              <th class="text-center">Bytes</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in carrels|sort(attribute="shortname") %}
            <tr>
              <td class="text-left">{{ entry.shortname }}</td>
              <td class="text-center">{{ entry.created }}</td>
              {% if is_public %}
                <td class="text-left">{{ entry.keywords }}</td>
              {% endif %}
              <td class='text-center'>{{ entry.size_items | formatwithcommas }}</td>
              <td class='text-center'>{{ entry.size_words | formatwithcommas }}</td>
              <td class='text-center'>{{ entry.readability }}</td>
              <td class='text-center'>{{ entry.size_bytes | filesizeformat }}</td>
              <td class='text-center'>
                {% if is_public %}
                  {% set entry_url = url_for("public_carrel", carrel=entry.shortname) %}
                {% else %}
                  {% set entry_url = url_for("patron_carrel", username=current_user.username, carrel=entry.shortname) %}
                {% endif %}
                {%- if entry.status != "queued" -%}
                  <a href='{{ entry_url ~ "index.htm" }}'>View</a>,
                {% endif %}
                <a href='{{ entry_url }}'>Files</a>
                {%- if entry.status != "queued" -%},
                  <a href='{{ entry_url ~ "study-carrel.zip" }}'>Download</a>
                {% endif %}
              </td>
            </tr>
            {% else %}
            <tr>
              <td>No Carrels</td>
              <td></td>
              {% if is_public %}<td></td>{% endif %}
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
    <!-- col-sm-12 -->
</div>
<!-- container -->

<script type="text/javascript">
  $(document).ready(function() {
    $('#directory').DataTable({
      "order": [
        [1, "desc"]
      ],
      "pageLength": 100
    });
  });
</script>

{% endblock %}
