{% extends "base.html" %}

{#- This template  handles the file listings for both public and private
carrels. Doing both makes the logic a little strange in places. -#}

{% set is_public = carrel.status == "public" %}

{% block title %}
Study Carrel {{ carrel.shortname }}
{% endblock %}

{% block body %}
<h1>Study Carrel {{ current_user.username ~ "/" ~ carrel.shortname ~ "/" ~ directory}}</h1>
{% if carrel.status == "queued" %}
  <p>Thank you for submitting this carrel. It is being processed and will appear here when finished.
  Reload this page to check on the status.</p>
{% endif %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th><a href="?C=N;O=D">Name</a></th>
        <th><a href="?C=M;O=A">Last modified</a></th>
        <th><a href="?C=S;O=A">Size</a></th>
        <th><a href="?C=D;O=A">Description</a></th>
      </tr>
    </thead>
    {% if parentdir != '' %}
    <tr>
      {%- if is_public %}
        {% set parent_url = url_for('public_carrel', carrel=carrel.shortname, p=parentdir) %}
      {% else %}
        {% set parent_url = url_for('patron_carrel', username=current_user.username, carrel=carrel.shortname, p=parentdir) %}
      {% endif -%}
      <td><a href="{{ parent_url }}"><i class="fas fa-lg fa-fw fa-arrow-circle-left"></i></a></td>
      <td><a href="{{ parent_url }}">Parent Directory</a></td>
      <td>&nbsp;</td>
      <td class="text-right">-</td>
      <td>&nbsp;</td>
    </tr>
    {% endif %}
    {% for entry in listing %}
    <tr>
      {%- if is_public %}
        {% set entry_url = url_for("public_carrel", carrel=carrel.shortname, p=entry.path) %}
      {% else %}
        {% set entry_url = url_for("patron_carrel", username=current_user.username, carrel=carrel.shortname, p=entry.path) %}
      {% endif -%}
      <td><a href="{{ entry_url }}">
          {% if entry.directory %}
            <i class="fas fa-lg fa-fw fa-folder"></i>
          {% else %}
            <i class="far fa-lg fa-fw fa-file-alt"></i>
          {% endif %}
        </a></td>
        <td><a href="{{ entry_url }}">{{ entry.filename }}</a></td>
        <td class="text-right">{{ entry.modified }}</td>
        <td class="text-right">{# directories don't display size info #}
        {% if entry.directory %}-{% else %}{{ entry.size | filesizeformat }}{% endif %}
        </td>
        <td>{{ entry.filename | file_description }}</td>
    </tr>
    {% else %}
    <tr>
      <td>No Files</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
