{% extends "base.html" %}

{#- This template handle both the public carrel list and the private
carrel lists -#}

{% block title %}
{% if is_public %}
  Public Catalog
{% else %}
  Study Carrels for {{ current_user.username }}
{% endif %}
{% endblock %}

{% block head_additional %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
{% endblock %}


{% block body %}
<div class="container">

  {% if is_public %}
    {{ breadcrumb("Catalog") }}
  {% else %}
    {{ breadcrumb("Browse My Carrels") }}
  {% endif %}


    <div class="col-12">

      {% if is_public %}
        <h1 id="page-header">Browse Public Carrels</h1>
      {% else %}
        <h1 id="page-header">Browse My Carrels</h1>
      {% endif %}
      <p>Below, select column headings and/or enter words into the search box to sort and filter catalog items. Use the results to read, browse, or download carrels.</p>

    </div>
    <!-- col-sm-12 -->

    <div class="col-sm-12">

      <div class="table-responsive">
        <table id="directory" class="table table-striped">
          <!-- class="display" removed" -->
          <thead>
            <tr>
              <th class="text-left">Name</th>
              <th class="text-center">Created</th>
              {% if is_public %}
                <th class="text-center">Keywords</th>
              {% endif %}
              <th class="text-center">Items</th>
              <th class="text-center">Words</th>
              <th class="text-center">Readability</th>
              <th class="text-center">Bytes</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in carrels|sort(attribute="shortname") %}
            <tr>
              <td class="text-left">{{ entry.shortname }}</td>
              <td class="text-center">{{ entry.created }}</td>
              {% if is_public %}
                <td class="text-left">{{ entry.keywords }}</td>
              {% endif %}
              <td class='text-center'>{{ entry.size_items | formatwithcommas }}</td>
              <td class='text-center'>{{ entry.size_words | formatwithcommas }}</td>
              <td class='text-center'>{{ entry.readability }}</td>
              <td class='text-center'>{{ entry.size_bytes | filesizeformat }}</td>
              <td class='text-center'>
                {% if is_public %}
                  {% set entry_url = url_for("public_carrel", carrel=entry.shortname) %}
                {% else %}
                  {% set entry_url = url_for("patron_carrel", username=current_user.username, carrel=entry.shortname) %}
                {% endif %}
                <a href='{{ entry_url }}'>Browse</a>
                {%- if entry.status != "queued" -%},
                  <a href='{{ entry_url ~ "index.htm" }}'>Read</a>,
                  <a href='{{ entry_url ~ "study-carrel.zip" }}'>Download</a>
                {% endif %}
              </td>
            </tr>
            {% else %}
            <tr>
              <td>No Carrels</td>
              <td></td>
              {% if is_public %}<td></td>{% endif %}
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
    <!-- col-sm-12 -->
</div>
<!-- container -->

<script type="text/javascript">
  $(document).ready(function() {
    $('#directory').DataTable({
      "order": [
        [1, "desc"]
      ],
      "pageLength": 100
    });
  });
</script>

{% endblock %}
