{% extends "base.html" %}

{% block title %}
Contact Us
{% endblock %}

{% block body %}
<div class="container pb-5" id="wrapper">

  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb" id="breadcrumb">
        <ol class="breadcrumb py-4">
          <li class="breadcrumb-item pl-3">
            <a href="{{ url_for("index") }}"><i class="fad fa-home fa-fw mr-2"></i>Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-12">

      <!-- Page header -->
      <h1 id="page-header">Contact Us</h1>

      <p>The Distant Reader is an <a href="{{ url_for("about") }}">open source project</a>,
      made up of code from <a href="{{ url_for("acknowledgments") }}">lots of amazing people</a> like yourself.
        We're constantly looking for ways to improve and welcome contributions from everyone.
        If you'd like to contribute code to the Distant Reader,
        <a href="https://github.com/ericleasemorgan/reader" target="_blank">visit our GitHub repository</a>
        for more information, or email Eric Morgan directly.</p>

        <div class="row mt-5">
          <div class="col-12 col-sm-5">

            <div class="table-responsive">
              <table class="table table-condensed table-borderless">
                <tbody>
                  <tr>
                    <td style="width: 2.5rem"><i class="fad fa-user fa-lg mr-3"></i></td>
                    <td><strong>Eric Lease Morgan</strong><br>
                      Navari Family Center for Digital Scholarship<br>
                      Hesburgh Libraries<br>
                      University of Notre Dame<br>
                      Notre Dame, IN 46556</td>
                  </tr>
                  <tr>
                    <td><i class="fad fa-phone-office fa-lg mr-3"></i></td>
                    <td><a href="tel:5746318604">(574) 631-8604</a></td>
                  </tr>
                  <tr>
                    <td><i class="fad fa-envelope-open-text fa-lg mr-3"></i></td>
                    <td><a href="mailto:emorgan@nd.edu?subject=[distant%20reader]">emorgan@nd.edu</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- .table -->

        </div>
        <!-- .col-sm-4 -->
      </div>
      <!-- .row -->
    </div>
  </div>
</div>

{% include "sponsors.html" %}

{% endblock %}
