{% extends "create-base.html" %}

{% block title %}
The Distant Reader - COVID-19 literature to study carrel
{% endblock %}

{% block searchbody %}
<p>Use this form to create a study carrel from the results of your COVID-19 literature search.</p>

<form action="" method="post" enctype="multipart/form-data">
  <input type='hidden' name="query" value="{{ query }}" />

  <div class="form-group">
    <label for="shortname">Carrel Name<br><small class="text-muted"></small>A one-word name describing your carrel</label>
    <input name='shortname' autofocus="autofocus" onkeyup="this.value = this.value.replace( /[^a-z|^A-Z|0-9|_|\-]/, '' )" class="form-control" id="shortname">
  </div>
  <button type="submit" id="queue" class="btn btn-primary mr-1 mt-4">Create</button>
</form>
{% endblock %}
