{% extends "create-base.html" %}

{% block title %}
The Distant Reader - COVID-19 literature to study carrel
{% endblock %}

{% block searchbody %}
<h4>Cord-19<i class="mx-2 fad fa-angle-double-right"></i>Carrel</h4>
<p>Use this form to create a study carrel from the results of your COVID-19 literature search.</p>

<form action="" method="post" enctype="multipart/form-data">
  <input type='hidden' name="query" value="{{ query }}" />

  <div class="form-group">
    <label for="shortname">Carrel Name<br><small class="text-muted unbolded">A one-word name describing your carrel</small></label>
    <input name='shortname' autofocus="autofocus" onkeyup="this.value = this.value.replace( /[^a-z|^A-Z|0-9|_|\-]/, '' )" class="form-control" id="shortname">
  </div>
  <button type="submit" id="queue" class="btn btn-primary mr-1 mt-4">Create</button>
</form>

<!-- Styles the active button for the page chosen -->
<script type="text/javascript">
  $("#type-cord19").css("background", "rgba(80, 101, 120, .6)").find("a").addClass("text-white");
</script>

{% endblock %}
