{% extends "base.html" %}

{% block body %}
<div class="container pb-5" id="wrapper">

  {{ breadcrumb("New Carrel") }}

  <div class="row">

    <div class="col-sm-12 mb-4">
      <h1 id="page-header maroon mb-4">Create Carrel From A...</h1>
    </div>

    <div class="col-12 col-sm-2">

      {# This block is so we can highlight the correct carrel button below.
      Each page extending this template should redefine this to be the name of
      the link to highlight. It is in html comments since we need to put this
      block somewhere so we can refer to it in the carrel_button() macro #}
      <!-- {% block create_type %}{% endblock %} -->

      {% macro carrel_button(name, display, url) %}
        <li id="{{ "selected-create" if self.create_type() == name }}" class="border rounded-0 pointer text-decoration-none list-group-item list-group-item-action"><a class="text-decoration-none stretched-link" href="{{ url }}">{{ display }}</a></li>
      {% endmacro %}

      <ul class="list-group mb-4">
        {{ carrel_button("file", "File", url_for('file2carrel')) }}
        {{ carrel_button("zip", "Zip file", url_for('zip2carrel')) }}
        {{ carrel_button("url", "URL", url_for('url2carrel')) }}
        {{ carrel_button("urls", "List of URLs", url_for('urls2carrel')) }}
        {{ carrel_button("biorxiv", "bioRxiv file", url_for('biorxiv2carrel')) }}
        {{ carrel_button("hathi", "HathiTrust file", url_for('trust2carrel')) }}
      </ul>
      <ul class="list-group mb-4">
        {{ carrel_button("gutenberg", "Gutenberg", url_for('gutenberg')) }}
        {{ carrel_button("cord19", "CORD-19", url_for('cord_search')) }}
      </ul>

    </div>

    <div class="col-12 col-sm-10">
      {% block searchbody %}
      {% endblock %}
    </div>

  </div>
  <!-- row -->
</div>
<!-- container -->

{% include "sponsors.html" %}

{% endblock %}
