<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<style>
		.item { margin-bottom: 1em }
	</style>
</head>
<body>

{% include "flash.html" %}

<div class="header">
    <h1>{{ self.title() }}</h1>
</div>

<div class="col-3 col-m-3 menu">
  <ul>
    <li style='margin-bottom: 2em'><a href="{{ url_for('index') }}">Distant Reader home</a></li>

    <li ><a href="{{ url_for('file2carrel') }}">File to study carrel</a></li>
    <li><a href="{{ url_for('zip2carrel') }}">Zip to study carrel</a></li>
    <li><a href="{{ url_for('url2carrel') }}">URL to study carrel</a></li>
    <li><a href="{{ url_for('urls2carrel') }}">URLs to study carrel</a></li>
    <li><a href="{{ url_for('trust2carrel') }}">HathiTrust to study carrel</a></li>
    <li style='margin-bottom: 2em'><a href="{{ url_for('biorxiv2carrel') }}">Biorxiv to study carrel</a></li>
    <li><a href="{{ url_for('gutenberg') }}">Gutenberg to study carrel</a></li>
    <li><a href="{{ url_for('cord_search') }}">COVID-19 to study carrel</a></li>
</ul>
</div>

<div class="col-9 col-m-9">

    {% block body %}
    {% endblock %}

    <div class="footer">
        <p style='text-align: right'>
        Eric Lease Morgan<br />
        November 29, 2020
        </p>
    </div>

</div>
</body>
</html>
