{% extends "create-base.html" %}

{% block title %}
The Distant Reader - File to study carrel
{% endblock %}

{% block body %}
	<p>Use this form to submit a file from your computer and have it processed by the Distant Reader.</p>
	
	<form method="post" enctype="multipart/form-data">
	<table>
		<tr>
			<td style='text-align:right'>One-word name describing your carrel:</td>
			<td><input type='text'
			           name='shortname'
			           autofocus="autofocus"
			           onkeyup="this.value = this.value.replace( /[^a-z|^A-Z|0-9|_|\-]/, '' )" />
			</td>
		</tr>
		<tr>
			<td style='text-align:right'>Plain text (.txt), PDF (.pdf), or a Word Document (.doc or .docx) file:</td>
			<td><input type="file" name="file" accept=".txt,.pdf,.doc,.docx" /></td>
		</tr>
        <tr>
			<td style='text-align:right'>Action</td>
			<td><input type='submit' name='queue' value='Queue the file' /></td>
		</tr>
	</table>
	
	</form>
{% endblock %}
