<footer id="main-footer" class="footer bg-dark text-light container-fluid p-4">

  <div class="py-3">
    <!-- container for extra padding -->

    <div class="row">

      <!-- First section -->
      <div class="col-12 col-md-4 text-left px-5 col-md-2 mb-4">
        <a href="https://cds.library.nd.edu/"><img class="w-50" src="{{ url_for('static', filename='sponsors/cds-logo-white.png') }}" alt="Navari Family Center for Digital Scholarship logo"></a>
      </div>

      <!-- Second section -->
      <div class="col-12 col-md-4 pt-0 px-4">
        <ul class="list-group text-left mt-0 border-0">
          <li class="list-group-item bg-transparent border-0"><a href="contact.html" class="text-decoration-none text-light">Contact Us</a></li>
        </ul>
      </div>

      <!-- Third section -->
      <div class="col-12 col-md-4 text-left text-md-center pl-5 mt-3 mb-3">

        <img class="img-fluid" width="150" src="{{ url_for('static', filename='distant-reader_logo-white.svg') }}" alt="Distant reader logo and link to home page">

      </div>


    </div>
    <!-- row -->
  </div>
  <!-- .container -->
</footer>
