{% extends "base.html" %}

{% block title %}
Getting Started
{% endblock %}

{% block body %}

<!-- main wrapper div -->
<div class="container pb-5" id="wrapper">

  {{ breadcrumb("Instructions") }}

  <div class="row">

    <div class="col-sm-12">

      <!-- Page header -->
      <h1 id="page-header">Instructions</h1>
      <p>The Distant Reader offers several ways to read and analyze large collections of text -- corpora. Read our instructions below to learn how to view previously created corpora ("study carrels") or create own.</p>

      <div class="row" id="getting-started-tabs">
        <div class="col-12 col-md-8 offset-md-2">
          <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#overview" data-toggle="tab">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#view-carrel" data-toggle="tab">View Carrels</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#create-carrel" data-toggle="tab">Create Carrels</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-12">
          <div class="tab-content" id="getting-started-contents">

            <!-- Overview ------------------------------------------->
            <div class="mt-3 ml-2 tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="...">

              <h3 class="maroon mt-5 mb-2">Overview</h3>

			<!-- Definition of Distant Reading -->
			<blockquote class="blockquote text-left bg-light px-5 pt-4 pb-4 mt-4 mb-5">
			<i class="fad fa-quote-right fa-flip-horizontal fa-2x float-left mr-3" aria-hidden="true">
			</i>
			<p>
			<strong>Distant reading</strong> is an approach in literary studies that applies computational methods to literary data, usually derived from large digital libraries, for the purposes of literary history and theory. While the term is collective, and is used to refer to a range of different computational methods of analysing literary data, similar approaches also include macro-analysis, cultural analytics, computational formalism, computational literary studies, quantitative literary studies, and algorithmic literary criticism.
			</p>
			<footer class="blockquote-footer p-0">
			<cite class="font-style-normal" title="Wikipedia">
			<a href="https://en.wikipedia.org/wiki/Distant_reading" target="_blank">
			&ldquo;Distant Reading&rdquo; | Wikipedia
			</a>
			</cite>
			</footer>
			</blockquote>

<p class="my-4"><strong>The Distant Reader</strong> is tool intended to supplement the traditional reading process. Given a set of one or more texts acquired through a variety of means, the Reader: 1) applies different forms of text mining and natural language processing against the texts, 2) saves the results as a set of structured data amenable to computing, 3) summarizes everything in a set of interactive HTML reports, 4) compresses everything into a .zip file, and 5) provides the means for you to view the results online or download the whole thing to your computer. This resulting .zip file is affectionately called a <strong>"study carrel"</strong>.</p>

<p class="my-4">Study carrels are computer platform- and network-independent data sets. This means any computer will be able to make use of the files in a study carrel, and study carrels do not require an Internet connection in order to be functional. Study carrels are designed to be useful for decades to come, and you could be located under a mountain, cut off from the Internet, and they ought work just fine.</p>

<p class="my-4">Study carrels are designed to be used by people as well as computers. Many of the files making up a study carrel are narrative in nature, meaning, they are are intended to be read by people just like yourself. Many other files are designed to be read using spreadsheet applications, database applications, analysis applications, visualizers, concordances, machine learning tools (like topic modelers or classification systems), etc. These files can be read using GUI applications (such as Wordle, AntConc, OpenRefine, or Topic Modeling Tool), via things like Jupyter Notebooks, or from the command line. Reading the narrative texts will provide the student, researcher, or scholar with certain level of understanding -- an understanding akin to the understand one gets through of descriptive statistics. But more complex research questions and deeper understanding can be garnered when the structured data of study carrels is exploited.</p>

<p class="my-4">Anybody may freely browse and download carrels from the publicly available collection -- the library. As of this writing, the collection includes just more than 2,000 items. Alternatively, we hope you will create your own study carrels. To do so you will first need to authenticate. (We use a system called ORCID for this purpose.) You will then either: 1) submit to the Reader some input in the form of a URL, a list of URLs, a file, a zip file containing many files, a HathiTrust collection file, or a bioRxiv metadata file, or 2) search our indexes and submit the results to the Reader. Once you have submitted a request the Reader will do its good work, keep you informed along the way, and when it is done offer you the opportunity to view the results online or download them to your computer.</p>

<p class="my-4">Depending on the type, number, and size of the submitted files, the study carrel creation process can take as short as a few minutes to as long as many hours. Based on our experience, a study carrel comprised of a few dozen journal articles will process in about fifteen minutes, and a carrel made of up of a few dozen novels will take about an hour.</p>

              <div class="row mt-5">
                <div class="col-12 col-md-6">
                  <div class="card mb-4">
                    <div class="card-header bg-light border-bottom-0">
                      <p class="text-center mt-3 mb-0"><i class="fad fa-folder-upload fa-fw fa-4x maroon"></i></p>
                      <h4 class="mt-1 mb-2 text-center">Input</h4>
                    </div>
                    <div class="card-body bg-light">
                      <p class="lead text-center mt-n3"><strong>The Distant Reader</strong> can create a study carrel from a number of different input types, including:</p>

                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item border-top"><i class="fad fa-check mr-4"></i>One or more text (.txt) files</li>
                      <li class="list-group-item"><i class="fad fa-check mr-4"></i>One or more comma-delimited (.csv) or tab-delimited files</li>
                      <li class="list-group-item"><i class="fad fa-check mr-4"></i>One or more URLs</li>
                      <li class="list-group-item"><i class="fad fa-check mr-4"></i>A .zip file, with an optional metadata file</li>
                      <li class="list-group-item"><i class="fad fa-check mr-4"></i>A metadata file (.xml) from bioRxiv</li>
                      <li class="list-group-item"><i class="fad fa-check mr-4"></i>A HathiTrust collection</li>
                      <li class="list-group-item"><i class="fad fa-check mr-4"></i>A locally curated search subset of Project Gutenberg</li>
                      <li class="list-group-item"><i class="fad fa-check mr-4"></i>A locally curated search subset of scholarly journals articles from the CORD-19 collection</li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="card mb-4">
                    <div class="card-header bg-light border-bottom-0">
                      <p class="text-center mt-3 mb-0"><i class="fad fa-folder-tree fa-fw fa-4x maroon"></i></p>
                      <h4 class="mt-1 mb-2 text-center">Output</h4>
                    </div>
                    <div class="card-body bg-light">
                      <p class="lead text-center mt-n3"><strong>The Distant Reader</strong> outputs a large number of different files, such as:</p>

                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item border-top"><i class="fad fa-check mr-4"></i>An SQLite database file</li>
                      <li class="list-group-item"><i class="fad fa-check mr-4"></i>A cache of the original documents</li>
                      <li class="list-group-item"><i class="fad fa-check mr-4"></i>Narrative reports in both simple text and formatted HTML</li>
                      <li class="list-group-item"><i class="fad fa-check mr-4"></i>A set of plain text files transformed from the items in the cache</li>
                      <li class="list-group-item"><i class="fad fa-check mr-4"></i>Charts &amp; graphs (and tab-delimited files) explicating:
                        <ul class="mt-3">
                          <li>Bibliographics</li>
                          <li>Parts-of-speech</li>
                          <li>Named entities and keywords</li>
                          <li>URLs</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>

            </div>
            <!-- overview closes -->

            <!-- View Carrel ------------------------------------------->
            <div class="mt-3 ml-2 tab-pane fade" id="view-carrel" role="tabpanel" aria-labelledby="...">
              <h3 class="maroon mt-5 mb-2">View Carrels</h3>
              <p>Carrels can be private or public and you may view your own created carrels and the publicly shared carrels of others at any time.</p>

              <div class="card mb-3 mt-4">
                <div class="row h-100 align-items-center no-gutters">
                  <div class="col-md-2 mx-auto">
                    <div class="text-center d-flex justify-content-center">
                      <p class="short-round vertical-fix center-block">1</p>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h4 class="card-title trench-blue">Do a Thing</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nemo repellat natus quasi enim soluta quis. Distinctio voluptatibus atque sapiente, ullam tempora, harum quidem commodi ea quia corrupti
                        aspernatur
                        fugiat!</p>

                    </div>
                  </div>
                </div>
              </div>
              <!-- card -->

              <div class="card mb-3 mt-4">
                <div class="row h-100 align-items-center no-gutters">
                  <div class="col-md-2 mx-auto">
                    <div class="text-center d-flex justify-content-center">
                      <p class="short-round vertical-fix center-block">2</p>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h4 class="card-title trench-blue">Do a Thing</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nemo repellat natus quasi enim soluta quis. Distinctio voluptatibus atque sapiente, ullam tempora, harum quidem commodi ea quia corrupti
                        aspernatur
                        fugiat!</p>

                    </div>
                  </div>
                </div>
              </div>
              <!-- card -->

              <div class="card mb-3 mt-4">
                <div class="row h-100 align-items-center no-gutters">
                  <div class="col-md-2 mx-auto">
                    <div class="text-center d-flex justify-content-center">
                      <p class="short-round vertical-fix center-block">3</p>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h4 class="card-title trench-blue">Do a Thing</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nemo repellat natus quasi enim soluta quis. Distinctio voluptatibus atque sapiente, ullam tempora, harum quidem commodi ea quia corrupti
                        aspernatur
                        fugiat!</p>

                    </div>
                  </div>
                </div>
              </div>
              <!-- card -->

              <div class="card mb-3 mt-4">
                <div class="row h-100 align-items-center no-gutters">
                  <div class="col-md-2 mx-auto">
                    <div class="text-center d-flex justify-content-center">
                      <p class="short-round vertical-fix center-block">4</p>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h4 class="card-title trench-blue">Do a Thing</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nemo repellat natus quasi enim soluta quis. Distinctio voluptatibus atque sapiente, ullam tempora, harum quidem commodi ea quia corrupti
                        aspernatur
                        fugiat!</p>

                    </div>
                  </div>
                </div>
              </div>
              <!-- card -->

              <div class="card mb-3 mt-4">
                <div class="row h-100 align-items-center no-gutters">
                  <div class="col-md-2 mx-auto">
                    <div class="text-center d-flex justify-content-center">
                      <p class="short-round vertical-fix center-block">5</p>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h4 class="card-title trench-blue">Do a Thing</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nemo repellat natus quasi enim soluta quis. Distinctio voluptatibus atque sapiente, ullam tempora, harum quidem commodi ea quia corrupti
                        aspernatur
                        fugiat!</p>

                    </div>
                  </div>
                </div>
              </div>
              <!-- card -->

            </div>
            <!-- view carrel closes -->


            <div class="mt-3 ml-2 tab-pane fade" id="create-carrel" role="tabpanel" aria-labelledby="...">

              <h3 class="maroon mt-5 mb-2">Create Carrels</h3>
              <p>You may create carrels from a variety of data sources.</p>

              <div class="card mb-3 mt-4">
                <div class="row h-100 align-items-center no-gutters">
                  <div class="col-md-2 mx-auto">
                    <div class="text-center d-flex justify-content-center">
                      <p class="short-round vertical-fix center-block">1</p>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h4 class="card-title trench-blue">Do a Thing</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nemo repellat natus quasi enim soluta quis. Distinctio voluptatibus atque sapiente, ullam tempora, harum quidem commodi ea quia corrupti
                        aspernatur
                        fugiat!</p>

                    </div>
                  </div>
                </div>
              </div>
              <!-- card -->

              <div class="card mb-3 mt-4">
                <div class="row h-100 align-items-center no-gutters">
                  <div class="col-md-2 mx-auto">
                    <div class="text-center d-flex justify-content-center">
                      <p class="short-round vertical-fix center-block">2</p>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h4 class="card-title trench-blue">Do a Thing</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nemo repellat natus quasi enim soluta quis. Distinctio voluptatibus atque sapiente, ullam tempora, harum quidem commodi ea quia corrupti
                        aspernatur
                        fugiat!</p>

                    </div>
                  </div>
                </div>
              </div>
              <!-- card -->

              <div class="card mb-3 mt-4">
                <div class="row h-100 align-items-center no-gutters">
                  <div class="col-md-2 mx-auto">
                    <div class="text-center d-flex justify-content-center">
                      <p class="short-round vertical-fix center-block">3</p>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h4 class="card-title trench-blue">Do a Thing</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nemo repellat natus quasi enim soluta quis. Distinctio voluptatibus atque sapiente, ullam tempora, harum quidem commodi ea quia corrupti
                        aspernatur
                        fugiat!</p>

                    </div>
                  </div>
                </div>
              </div>
              <!-- card -->

              <div class="card mb-3 mt-4">
                <div class="row h-100 align-items-center no-gutters">
                  <div class="col-md-2 mx-auto">
                    <div class="text-center d-flex justify-content-center">
                      <p class="short-round vertical-fix center-block">4</p>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h4 class="card-title trench-blue">Do a Thing</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nemo repellat natus quasi enim soluta quis. Distinctio voluptatibus atque sapiente, ullam tempora, harum quidem commodi ea quia corrupti
                        aspernatur
                        fugiat!</p>

                    </div>
                  </div>
                </div>
              </div>
              <!-- card -->

              <div class="card mb-3 mt-4">
                <div class="row h-100 align-items-center no-gutters">
                  <div class="col-md-2 mx-auto">
                    <div class="text-center d-flex justify-content-center">
                      <p class="short-round vertical-fix center-block">5</p>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h4 class="card-title trench-blue">Do a Thing</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nemo repellat natus quasi enim soluta quis. Distinctio voluptatibus atque sapiente, ullam tempora, harum quidem commodi ea quia corrupti
                        aspernatur
                        fugiat!</p>

                    </div>
                  </div>
                </div>
              </div>
              <!-- card -->
            </div>
            <!-- Create carrel closes -->


          </div>

        </div>
        <!-- col-sm-12 -->
      </div>
      <!-- row -->
    </div>
    <!-- col-sm-12 -->

  </div>
  <!-- .row -->

</div>
<!-- #wrapper .container -->

{% include "sponsors.html" %}

{% endblock %}
