{% extends "create-base.html" %}

{% block title %}
The Distant Reader - Project Gutenberg to study carrel
{% endblock %}

{% block create_type %}gutenberg{% endblock %}

{% block searchbody %}
<h4>Gutenberg<i class="mx-2 fad fa-angle-double-right"></i>Carrel</h4>
<p>Given the list of items identified on the previous page, use this form to submit the results to the Reader, and a study carrel will be created.</p>
<form method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="shortname">Carrel Name<br><small class="text-muted unbolded">A one-word name describing your carrel</small></label>
    <input name='shortname' autofocus="autofocus" onkeyup="this.value = this.value.replace( /[^a-z|^A-Z|0-9|_|\-]/, '' )" class="form-control" id="shortname">
  </div>

  <button type="submit" id="queue" class="btn btn-primary mt-2">Create</button>
</form>
{% endblock %}
