{% extends "base.html" %}

{% block body %}
<!-- jumbotron -->
  <div class="jumbotron" id="jumbotron"></div>

  <!-- main wrapper div -->
  <div class="container" id="wrapper">

    <div class="row">

      <div class="col-sm-12 mb-5 mt-4">

        <!-- General / marketing description of tool -->
        <p class="display-6 text-center my-3" id="tagline">ELM was here. The Distant Reader is a tool for reading.</p>
        <p class="display-6 text-center my-3" id="tagline">Intended for anybody who reads, Distant Reader takes text as input, does analysis against it, and outputs sets of structured data called &ldquo;study carrels&rdquo;, which students, researchers, or scholars can use to read both closely and at a distance.</p>
        <p class="display-6 text-center my-3" id="tagline">Embrace information overload. Use the Distant Reader.</p>

      </div>

      <!-- <div class="col-sm-12 col-md-7 col-lg-8" id="action-buttons"> -->
      <div class="col-12" id="action-buttons">

        <h3 class="maroon mb-4">Getting Started</h3>

        <ul class="list-group list-group-flush">

          <li class="list-group-item pointer shadow-sm p-4 mb-3" data-url="{{ url_for("getting_started") }}">
           <div class="row">
              <div class="col-12 col-md-2">
                <p class="text-center"><i class="fad fa-fw fa-3x fa-list-ol trench-blue"></i></p>
              </div>
              <div class="col-12 col-md-10">
                <h4 class="card-title bright-blue">Instructions for Working with Distant Reader</h4>
                <p>Read our step-by-step instructions on how to view and create, use and cite carrels.</p>
              </div>
            </div>
          </li>
        </ul>


        <h3 class="maroon mt-5 mb-4">Working with Carrels</h3>

        <ul class="list-group list-group-flush">
          <li class="list-group-item pointer shadow-sm p-4 mb-3" data-url="{{ url_for("public_carrel_list") }}">
            <div class="row">
              <div class="col-12 col-md-2">
                <p class="text-center"><i class="fad fa-fw fa-3x fa-list-alt trench-blue"></i></p>
              </div>
              <div class="col-12 col-md-10">
                <h4 class="card-title bright-blue">Browse Library of Carrels</h4>
                <p>Peruse the more than 2,000 previously created study carrels, and learn the size and scope of content study carrels can contain.</p>
              </div>
            </div>
          </li>
          <li class="list-group-item pointer shadow-sm p-4 mb-3" data-url="{{ url_for('url2carrel') }}">
            <div class="row">
              <div class="col-12 col-md-2">
                <p class="text-center"><i class="fad fa-fw fa-file-medical trench-blue fa-3x"></i></p>
              </div>
              <div class="col-12 col-md-10">
                <h4 class="card-title bright-blue">Create a Carrel from Your Data</h4>
                <p>Create study carrels based on a number of different types of input, including but not limited to: a URL, a list of URLs, a file, a zip file containing many files, HathiTrust collection files, or bioRxiv metadata files.</p>
              </div>
            </div>
          </li>
          <li class="list-group-item pointer shadow-sm p-4 mb-3" data-url="{{ url_for("gutenberg") }}">
            <div class="row">
              <div class="col-12 col-md-2">
                <p class="text-center"><i class="fad fa-fw fa-files-medical trench-blue fa-3x"></i></p>
              </div>
              <div class="col-12 col-md-10">
                <h4 class="card-title bright-blue">Create a Carrel from Project Gutenberg</h4>
                <p>Study carrels can be created from a local subset of the venerable Project Gutenberg which is strong on English literature, American literature, and Western philosophy. Search the index, limit the results to items of interest -- such as the complete works of a given author or all the works on a given subject -- and create a carrel based on the results.</p>
              </div>
            </div>
          </li>

          <li class="list-group-item pointer shadow-sm p-4 mb-3" data-url="{{ url_for("cord_search") }}">
            <div class="row">
              <div class="col-12 col-md-2">
                <p class="text-center"><i class="fad fa-fw fa-files-medical trench-blue fa-3x"></i></p>
              </div>
              <div class="col-12 col-md-10">
                <h4 class="card-title bright-blue">Create a Carrel from CORD-19 Data</h4>
                <p>Very similar to the Gutenberg service outline above, you can create study carrels based on the content of an index of more than 500,000 scholarly journal articles on the topic of COVID-19. Search the index. Refine the results. Submit them to the Reader for processing. The results will include the original articles, their plain text transformation, sets of structured data used to describe the collection, and summaries of the whole.</p>
              </div>
            </div>
          </li>
        </ul>


        <h3 class="maroon mb-4 mt-5">More Information</h3>

        <ul class="list-group list-group-flush">
          <li class="list-group-item pointer shadow-sm p-4 mb-3" data-url="{{ url_for("about") }}">
            <div class="row">
              <div class="col-12 col-md-2">
                <p class="text-center"><i class="fad fa-fw fa-3x fa-info-circle trench-blue"></i></p>
              </div>
              <div class="col-12 col-md-10">
                <h4 class="card-title bright-blue">About This Project</h4>
                <p>Learn about the history of this project, including the important contributions of sponsors and code-contributors, as well as how to cite this tool in your works cited page or bibliography.</p>
              </div>
            </div>
          </li>

          <li class="list-group-item pointer shadow-sm p-4 mb-3" data-url="{{ url_for("contact") }}">
            <div class="row">
              <div class="col-12 col-md-2">
                <p class="text-center"><i class="fad fa-fw fa-hands-helping trench-blue fa-3x"></i></p>
              </div>
              <div class="col-12 col-md-10">
                <h4 class="card-title bright-blue">Contact Us / Contribute to the Project</h4>
                <p>We're always looking to improve the Distant Reader. There are a number of ways you can contribute to our success — from contributing code to sharing the uses you've found for the Distant Reader. We're looking forward to hearing
                  from you!</p>
              </div>
            </div>
          </li>
          <li class="list-group-item pointer shadow-sm p-4 mb-3" data-url="{{ url_for("faq") }}">
            <div class="row">
              <div class="col-12 col-md-2">
                <p class="text-center"><i class="fad fa-fw fa-question-circle trench-blue fa-3x"></i></p>
              </div>
              <div class="col-12 col-md-10">
                <h4 class="card-title bright-blue">FAQ / Troubleshooting</h4>
                <p>Here we offer answers to frequently asked questions and simple troubleshooting advice.</p>
              </div>
            </div>
          </li>
        </ul>

      </div>
      <!-- col-sm-8 -->

    </div>
    <!-- .row -->

  </div>
  <!-- #wrapper .container -->

{% include "sponsors.html" %}

{% endblock %}
