{% extends "base.html" %}

{% block body %}
<!-- jumbotron -->
  <div class="jumbotron" id="jumbotron"></div>

  <!-- main wrapper div -->
  <div class="container" id="wrapper">

    <div class="row">

      <div class="col-sm-12 mb-5 mt-4">

        <!-- General / marketing description of tool -->
        <p class="display-6 text-center my-3" id="tagline">Intended for anybody who reads, <strong>the Distant Reader</strong> takes text as input, does analysis against it, and outputs sets of structured data, affectionately called "study carrels". The student, research, or scholar can then use a study carrel to read the text both closely as well as at a distance.</p>

      </div>

      <!-- <div class="col-sm-12 col-md-7 col-lg-8" id="action-buttons"> -->
      <div class="col-12" id="action-buttons">

        <h3 class="maroon mb-4">Getting Started</h3>

        <ul class="list-group list-group-flush">

          <li class="list-group-item pointer shadow-sm p-4 mb-3" data-url="getting-started.html">
            <div class="row">
              <div class="col-12 col-md-2">
                <p class="text-center"><i class="fad fa-fw fa-3x fa-list-ol trench-blue"></i></p>
              </div>
              <div class="col-12 col-md-10">
                <h4 class="card-title bright-blue">Instructions for Working with Distant Reader</h4>
                <p>Read our step-by-step instructions on how to view and create, use and cite carrels.</p>
              </div>
            </div>
          </li>
        </ul>


        <h3 class="maroon mt-5 mb-4">Working with Carrels</h3>

        <ul class="list-group list-group-flush">
          <li class="list-group-item pointer shadow-sm p-4 mb-3" data-url="https://library.distantreader.org/catalog">
            <div class="row">
              <div class="col-12 col-md-2">
                <p class="text-center"><i class="fad fa-fw fa-3x fa-list-alt trench-blue"></i></p>
              </div>
              <div class="col-12 col-md-10">
                <h4 class="card-title bright-blue">Browse Library of Carrels</h4>
                <p>Browse the library of carrels you've created and those created and publicly shared by others.</p>
              </div>
            </div>
          </li>
          <li class="list-group-item pointer shadow-sm p-4 mb-3" data-url="{{ url_for('url2carrel') }}">
            <div class="row">
              <div class="col-12 col-md-2">
                <p class="text-center"><i class="fad fa-fw fa-file-medical trench-blue fa-3x"></i></p>
              </div>
              <div class="col-12 col-md-10">
                <h4 class="card-title bright-blue">Create a Carrel from Your Data</h4>
                <p>Create a new carrel from a range of file types, including DOC/DOCX, PPT/PPTX, PDF, TXT, CSV, HTML and XML, and even URLs.</p>
              </div>
            </div>
          </li>
          <li class="list-group-item pointer shadow-sm p-4 mb-3" data-url="{{ url_for('gutenberg') }}">
            <div class="row">
              <div class="col-12 col-md-2">
                <p class="text-center"><i class="fad fa-fw fa-files-medical trench-blue fa-3x"></i></p>
              </div>
              <div class="col-12 col-md-10">
                <h4 class="card-title bright-blue">Create a Carrel from Project Gutenberg</h4>
                <p>Create a carrel from a local cache of the approximately 30,000 public domain documents from Project Gutenberg.</p>
              </div>
            </div>
          </li>
          <li class="list-group-item pointer shadow-sm p-4 mb-3" data-url="{{ url_for('cord_search') }}">
            <div class="row">
              <div class="col-12 col-md-2">
                <p class="text-center"><i class="fad fa-fw fa-files-medical trench-blue fa-3x"></i></p>
              </div>
              <div class="col-12 col-md-10">
                <h4 class="card-title bright-blue">Create a Carrel from CORD-19 Data</h4>
                <p>Create a carrel from a cache of more than 100,000 scholarly and scientific journal articles on the topic of COVID-19.</p>
              </div>
            </div>
          </li>
        </ul>



      </div>
      <!-- col-sm-8 -->

    </div>
    <!-- .row -->

  </div>
  <!-- #wrapper .container -->

{% include "sponsors.html" %}

{% endblock %}
