{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block body %}

<div class="container pb-5">

  <div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" id="breadcrumb">
      <ol class="breadcrumb py-4">
        <li class="breadcrumb-item pl-3">
          <a href="{{ url_for('index') }}"><i class="fad fa-home fa-fw mr-2"></i>Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </nav>
  </div>
</div>

  <div class="row my-5">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="card">
        <img src="{{ url_for('static', filename='orcid.png') }}" class="card-img-top" alt="ORCID Logo">
        <div class="card-body px-4">

          <form method="post" class="my-4">
            <div class="form-group  text-center">
              <input class="btn btn-primary btn-lg text-light" type="submit" value="Sign In">
            </div>
          </form>

          <h2 class="text-center">Sign in with ORCID<h2>
          <p class="lead text-center my-4">To create and save carrels, you must sign in using ORCID.
          If you don't have an ORCID account, you may <a href="https://orcid.org/" target="_blank">register for free</a> at the ORCID website.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <a href="{{ url_for('index') }}" class="list-group-item list-group-item-action bright-blue border-top">Return to Home Page</a>
          <a href="{{ url_for('contact') }}" class="list-group-item bright-blue list-group-item-action">Questions? Contact Us</a>
        </ul>
      </div>
    </div>
  </div>
  <!-- row -->
</div>
<!-- container -->

{% endblock %}
