{% extends "base.html" %}

{% block title %}New Account{% endblock %}

{% block body %}

<div class="container pb-5">

  {{ breadcrumb("New Account") }}

  <div class="row">

    <div class="col-12 col-sm-6 offset-sm-3">

      <h1 id="page-header maroon mb-4">Create New Account</h1>

      <p>The ORCID ID you signed in with is not associated with a Distant Reader account. Please provide the information below to create a Distant Reader account.</p>

      <form method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name='name' class="form-control" id="name" value="{{ session['name'] }}">
        </div>

        <div class="form-group">
          <label for="email">Email<br><small class="text-muted unbolded">Required. This is used to send notifications.</small></label>
          <input type="email" name='email' class="form-control" id="email">
        </div>

        <div class="form-group">
          <label for="username">Username<br><small class="text-muted unbolded">Required. Only letters, numerals, underscores, and hyphens &mdash; no spaces or other punctuation.</small></label>
          <input type="text" name='username' class="form-control" id="username">
        </div>

        <div class="form-group">
          <label for="orcid-id">ORCID</label>
          <input type="text" name='orcid-id' value="{{ session['orcid'] }}" class="form-control disabled" id="orcid-id" disabled="disabled">
        </div>

        <button type="submit" class="btn btn-primary mt-4">Create Account</button>
      </form>


    </div>
  </div>
</div>

{% endblock %}
