{% extends "base.html" %}

{% block title %}New ORCID{% endblock %}

{% block body %}
<h2>This ORCID is not in the database</h2>

<p>You signed in with the ORCID {{ session['orcid'] }}.
This ORCID is not associated with any accounts.
Please make a new account or associate the ORCID with an existing account.
</p>

<h3>Create a New Account</h3>
<form method="post">
    <input type='hidden' name='which' value='create'/>
    <label>Name: <input type='text' name="name" value="{{ session['name'] }}"/></label>
    <label>Username: <input type='text' name="username" /></label>
    <label>Email: <input type='email' name="email" /></label>
    <button type='submit'>Create Account</button>
</form>

<h3>Associate this ORCID with an Existing Account</h3>
<form method="post">
    <input type='hidden' name='which' value='associate'/>
    <label>User name: <input type='text' name="username" /></label>
    <label>Password: <input type='password' name="password" /></label>
    <button type='submit'>Associate</button>
</form>

{% endblock %}
