{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block body %}
<h2>Log in using password</h2>
<form method="post" action="{{ url_for('login') }}">
    <input type='hidden' name='which' value='password'/>
    <label>User name: <input type='text' name="username" /></label>
    <label>Password: <input type='password' name="password" /></label>
    <button type='submit'>Submit</button>
</form>

<h2>Log in using ORCID<h2>
<form method="post">
    <input type='hidden' name='which' value='orcid'/>
    <button type='submit'>Login with ORCID</button>
</form>

{% endblock %}
