{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block body %}

<div class="container pb-5">

    <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb" id="breadcrumb">
        <ol class="breadcrumb py-4">
          <li class="breadcrumb-item pl-3">
            <a href="{{ url_for("index") }}"><i class="fad fa-home fa-fw mr-2"></i>Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-sm-6 offset-sm-3">
      <h3>User Profile</h3>

      <div class="table-responsive">
        <table class="table table-striped">
          <caption>Date Created: {{ current_user.create_date }}</caption>
          <tbody>
            <tr>
              <td><strong>ID</strong></td>
              <td>{{ current_user.id }}</td>
            </tr>
            <tr>
              <td><strong>Name</strong></td>
              <td>{{ current_user.name }}</td>
            </tr>
            <tr>
              <td><strong>Username</strong></td>
              <td>{{ current_user.username }}</td>
            </tr>
            <tr>
              <td><strong>Email</strong></td>
              <td>{{ current_user.email }}</td>
            </tr>
            <tr>
              <td><strong>Email Verified</strong></td>
              <td>{{ current_user.email_verify_date or "Not verified" }}</td>
            </tr>
            <tr>
              <td><strong>ORCID</strong></td>
              <td>{{ current_user.orcid }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <!-- col-sm-* -->
  </div>
  <!-- .row -->
</div>
<!-- .container -->

{% include "sponsors.html" %}

{% endblock %}
