<div class="container-fluid p-5 mt-4 bg-white" id="sponsors">
  <p class="graphite text-center lead">With thanks to our generous sponsors and partners</p>
  <div class="d-flex row justify-content-around">

    <div class="col pointer" data-url="https://airavata.apache.org/">
      <img class="img d-block mx-auto mb-2" width="175" src="{{ url_for('static', filename='sponsors/airavata.png') }}" alt="airavata logo">
    </div>
    <div class="col pointer" data-url="https://www.xsede.org/">
      <img class="img d-block mx-auto mb-2" width="175" src="{{ url_for('static', filename='sponsors/xsede.png') }}" alt="xsede logo">
    </div>
    <div class="col pointer" data-url="https://www.lanl.gov/">
      <img class="img d-block mx-auto mb-2" width="175" src="{{ url_for('static', filename='sponsors/lanl.png') }}" alt="Los Alamos National Lab logo">
    </div>
    <div class="col pointer" data-url="https://www.microsoft.com">
      <img class="img d-block mx-auto mb-2" width="175" src="{{ url_for('static', filename='sponsors/microsoft.png') }}" alt="Microsoft logo">
    </div>
    <div class="col pointer" data-url="https://scigap.org/">
      <img class="img d-block mx-auto mb-2" width="175" src="{{ url_for('static', filename='sponsors/scigap.png') }}" alt="Science Gateway Platform logo">
    </div>
    <div class="col pointer" data-url="https://www.nsf.gov/">
      <img class="img d-block mx-auto mb-2" width="175" src="{{ url_for('static', filename='sponsors/nsf.png') }}" alt="National Science Foundation logo">
    </div>
  </div>
  <!-- row -->
</div>
<!-- container-fluid -->
