<div class="container-fluid bg-light p-4 mt-4" id="sponsors">

  <div class="row">
    <div class="col-4 col-md-4 col-lg-2">
      <img class="img-fluid" src="{{ url_for("static", filename="sponsors/airavata.png") }}" alt="">
    </div>
    <div class="col-4 col-md-4 col-lg-2">
      <img class="img-fluid" src="{{ url_for("static", filename="sponsors/xsede.png") }}" alt="">
    </div>
    <div class="col-4 col-md-4 col-lg-2">
      <img class="img-fluid" src="{{ url_for("static", filename="sponsors/lanl.png") }}" alt="">
    </div>
    <div class="col-4 col-md-4 col-lg-2">
      <img class="img-fluid" src="{{ url_for("static", filename="sponsors/microsoft.png") }}" alt="">
    </div>
    <div class="col-4 col-md-4 col-lg-2">
      <img class="img-fluid" src="{{ url_for("static", filename="sponsors/scigap.png") }}" alt="">
    </div>
    <div class="col-4 col-md-4 col-lg-2">
      <img class="img-fluid" src="{{ url_for("static", filename="sponsors/nsf.png") }}" alt="">
    </div>

  </div>
  <!-- row -->
</div>
<!-- container-fluid -->
