<!-- unused faq.html page -->

<!-- <li class="list-group-item pointer shadow-sm p-4 mb-3" data-url="faq.html">
  <div class="row">
    <div class="col-12 col-md-2">
      <p class="text-center"><i class="fad fa-fw fa-question-circle trench-blue fa-3x"></i></p>
    </div>
    <div class="col-12 col-md-10">
      <h4 class="card-title bright-blue">FAQ / Troubleshooting</h4>
      <p>Here we offer answers to frequently asked questions and simple troubleshooting advice.</p>
    </div>
  </div>
</li> -->
