{% extends "create-base.html" %}

{% block title %}
The Distant Reader - URL to study carrel
{% endblock %}

{% block searchbody %}
	<p>Use this form to queue the creation of a study carrel based on the content of a URL.</p>

	<form method="post" enctype="multipart/form-data">
	<table>
		<tr>
			<td style='text-align:right'>Short name:</td>
			<td><input type='text'
			           name='shortname'
			           autofocus="autofocus"
			           onkeyup="this.value = this.value.replace( /[^a-z|^A-Z|0-9|_|\-]/, '' )" />
			</td>
		</tr>
		<tr>
			<td style='text-align:right'>URL:</td>
			<td><input name="url" /></td>
		</tr>
        <tr>
			<td style='text-align:right'>Action</td>
			<td><input type='submit' name='queue' value='Queue' /></td>
		</tr>
	</table>
	
	</form>
{% endblock %}
