{% extends "create-base.html" %}

{% block title %}
    The Distant Reader - Zip file to study carrel
{% endblock %}

{% block searchbody %}
<h4>Zip File to Carrel</h4>
<p>Use this form to queue a zip file containing any number of other files (plus an optional file named "metadata.csv") to be processed by the Distant Reader.</p>
<form action="" method="post" enctype="multipart/form-data">
<div class="form-group">
  <label for="shortname">Carrel Name<br><small class="text-muted"></small>A one-word name describing your carrel</label>
  <input name='shortname' autofocus="autofocus" onkeyup="this.value = this.value.replace( /[^a-z|^A-Z|0-9|_|\-]/, '' )" class="form-control" id="shortname">
</div>
<div class="form-group">
  <label for="zip">Zip File</label>
  <input type="file" accept=".zip" class="form-control" name="file" id="file">
</div>
<button type="submit" id="queue" class="btn btn-primary mt-4">Create</button>
</form>
{% endblock %}
