{% extends "create-base.html" %}

{% block title %}
    The Distant Reader - Zip file to study carrel
{% endblock %}

{% block create_type %}zip{% endblock %}

{% block searchbody %}
<h4>Zip File<i class="mx-2 fad fa-angle-double-right"></i>Carrel</h4>
<p>Use this form to submit a zip file to be processed by the Distant Reader.</p>
<form action="" method="post" enctype="multipart/form-data">
<div class="form-group">
    <label for="shortname">Carrel Name<br><small class="text-muted unbolded">A one-word name describing your carrel</small></label>
  <input name='shortname' autofocus="autofocus" onkeyup="this.value = this.value.replace( /[^a-z|^A-Z|0-9|_|\-]/, '' )" class="form-control" id="shortname">
</div>
<div class="form-group">
  <label for="file">Select Zip File<br><small class="text-muted unbolded">Allowed: .zip</small></label>
  <input type="file" accept=".zip" class="form-control bg-transparent border-0" name="file" id="file">
</div>
<button type="submit" id="queue" class="btn btn-primary mt-2">Create</button>
</form>
{% endblock %}
