[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
pysolr = "*"
flask-login = "*"
requests = "*"
is-safe-url = "*"
yoyo-migrations = "*"
authlib = "*"

[requires]
python_version = "3.6"
